@import "tailwindcss";


html, body{
  height: 100%;
  overflow: hidden;
  
  /* background: black; */

  
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  
}

/* Lenis Styling */

html.lenis,
html.lenis body {
height: auto;
}

.lenis.lenis-smooth {
scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
overscroll-behavior: contain;
}

.lenis.lenis-stopped {
overflow: clip;
}

.lenis.lenis-smooth iframe {
pointer-events: none;
}

/* THREE/WebGL canvas styling */

canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -1;
  
}

/* Website content common styling */

section {
  position: relative;
  min-height: 100vh;
  

  /* mix-blend-mode: difference; */
}

/* section>div {
  position: relative;

  color: #f3ecf6;
} */